{
    "globals": {
        "alert": "readonly",
        "app": "readonly",
        "BlendingMode": "readonly",
        "CompItem": "readonly",
        "File": "readonly",
        "Folder": "readonly",
        "FolderItem": "readonly",
        "generateRandomNumber": "readonly",
        "KeyframeInterpolationType": "readonly",
        "MarkerValue": "readonly",
        "prompt": "readonly",
        "PropertyType": "readonly",
        "PropertyValueType": "readonly",
        "ScriptUI": "readonly",
        "TrackMatteType": "readonly",
        "Window": "readonly",
        "writeLn": "readonly"
    }
}